{% extends 'base_1.html' %}

{% block title %}Login{% endblock %}
{% block head %}
<style type="text/css">
	footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;}

  #message {
      font-size: 15px;
  }
</style>
{% endblock %}
{% block body %}

<form method="post" style="text-align: center;">
	{% csrf_token %}
    <h2>Are you sure you want to delete Buyer Information <br><span>"{{ object }}" ?</span></h2>
    <input type="submit" value="Submit" class="btn btn-danger" />
</form>
{% endblock %}
