{% extends 'base_1.html' %}

{% block title %}Login{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="global.css">
    <style type="text/css">
      .form-container{
  /*background:#fff;*/
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  /*for shadow */
  box-shadow:0px 0px 10px 0px #000; 
  font-size: 15px;
  width:390px; 
}
.in{
    font-size: 13px;

}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;}

  #message {
      font-size: 15px;
  }


    </style>

{% endblock %}
{% block body %}

<section class="container-fluid bg">
      <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">

          <form class="form-container" action="{% url 'register' %}" method='POST' >
                  {% csrf_token %}
                {% include 'partials/_alert.html' %}
                  
              <div class="form-group">
                <label for="fname">First Name</label> 
                <input type="text" class="form-control in" name='first_name' id="fname"  placeholder="Enter Username">
                </div><label for="lname">Last Name</label> 
                <input type="text" class="form-control in" name='last_name' id="lname" aria-describedby="emailHelp" placeholder="Enter Username">
                </div><label for="username">Username</label> 
                <input type="text" class="form-control in" name='username' id="username" aria-describedby="emailHelp" placeholder="Enter Username">
                </div><label for="exampleInputEmail1">Email</label> 
                <input type="text" class="form-control in" name='email' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control in" id="exampleInputPassword1" placeholder="Password">
                </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Conform Password</label>
                  <input type="password" name="password2" class="form-control in" id="exampleInputPassword1" placeholder="Password">
              </div><br>

              <button type="submit" class="btn btn-primary btn-block in" style="">Register</button><br>
              <div class="form-group">
                <p class="form-text text-muted">Not register ? <br><span
                  ><b><a href="{% url 'register' %}">Create An Account</a></b></span></p>
              </div>
          </form>
        </section>
      </section>
    </section>
{% endblock %}


