{% extends 'base_1.html' %}
{% load static %}
{% block title %}Resale All Product
{% endblock %}
<!-- head -->
	
{% block head %}
	<style type="text/css">
		footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;}

	</style>
{% endblock %}
<!-- body -->
<script type="text/javascript">
	
</script>
{% block body %}

	{% for p in products %}
		{{ p.title }}
	{% endfor %}
		{% for p in categories %}
		{{ p.title }}
	{% endfor %}
	{% for p in featured_post %}
		{{ p.title }}
	{% endfor %}
{% endblock %}
