{% extends 'base_1.html' %}
{% load humanize %}

{% load static %}
{% block title %}Resale All Product
{% endblock %}
<!-- head -->
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}">
<style type="text/css">
		<style type="text/css">


/*****************globals*************/
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #0a6bd0;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  border-radius: 20px;
  
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: black;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
.cont{
  letter-spacing: 2px;
}
.cont:hover {
  background-color: black;
}
.co{
  letter-spacing: 1px;
} 

	</style>

</style>
{% endblock %}
<!-- body -->
<script type="text/javascript">
	
</script>
{% block body %}

	<!-- breadcrumbs -->
	<div style=" background: white;">
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs">
			<a href="index.html"><i class="fa fa-home home_1"></i></a>
			<a href="{% url 'all_products' %}">All Ads</a> / 
			<span>{{ product.title }}</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->
                {% include 'partials/_alert.html' %}
	
	<!-- form -->

	<div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="{{ product.image.url }}" /></div>
              {% if product.image_2 %}
              <div class="tab-pane" id="pic-2"><img src="{{ product.image_2.url }}" /></div>
              {% endif %}
              {% if product.image_3 %}
              <div class="tab-pane" id="pic-3"><img src="{{ product.image_3.url }}" /></div>
              {% endif %}
              {% if product.image_4 %}
              <div class="tab-pane" id="pic-4"><img src="{{ product.image_4.url }}" /></div>
              {% endif %}
              {% if product.image_5 %}
              <div class="tab-pane" id="pic-5"><img src="{{ product.image_5.url }}" /></div>
              {% endif %}
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{ product.image.url }}" /></a></li>
              {% if product.image_2 %}
              <li><a data-target="#pic-2" data-toggle="tab"><img src="{{ product.image_2.url }}" /></a></li>
              {% endif %}
              {% if product.image_3 %}
              <li><a data-target="#pic-3" data-toggle="tab"><img src="{{ product.image_3.url }}" /></a></li>
              {% endif %}
              {% if product.image_4 %}
              <li><a data-target="#pic-4" data-toggle="tab"><img src="{{ product.image_4.url }}" /></a></li>
              {% endif %}
              {% if product.image_5 %}
              <li><a data-target="#pic-5" data-toggle="tab"><img src="{{ product.image_5.url }}" /></a></li>
              {% endif %}
            </ul><br><br>


          </div>
          <div class="details col-md-6">
            <h3 class="product-title" style="margin-bottom:0px; ">{{ product.title }}<br>
            </h3><br><p> <i class="glyphicon glyphicon-map-marker"></i> <a href="">{{ product.state }}</a>, <a href="">{{ product.city }}</a> | Added at {{ product.created | timesince }}, <b>Ad ID: {{ product.id }}</b></p><br>
            <div class="product-details">
              <!--   <h4><span class="w3layouts-agileinfo">Category </span> : <a href="#">Company name</a><div class="clearfix"></div></h4> -->
                <!-- <h4><span class="w3layouts-agileinfo">Views </span> : <strong>150</strong></h4> -->
                <h4><span class="w3layouts-agileinfo">Price </span> : Rs {{ product.price | intcomma }}</h4>
                <h4><span class="w3layouts-agileinfo">Description</span> :
                  <p style="width: 80%;">
                  {{ product.description }}.</p>
                  <div class="clearfix"></div>
                </h4>

          </div>
            <h5 class="sizes">Home Delivery : 
              <span class="size" data-toggle="tooltip" title="small">{{ product.home_delivery }}</span>
            </h5>
            {% if product.home_delivery == 'Yes' %}
            <div class="row">
              <div class="col-md-6">
                <p>
              Home delevery Area :
              </p>
            </div>
              <div class="col-md-6">
                <p>
              Home Delivery price :
              </p>
            </div>
            </div><br>
            {% endif %}
<!--             <h5 class="sizes">Created At :
              <span class="size" data-toggle="tooltip" title="small">Yes</span>
            </h5> -->

            <h4 class="price  text-capitalize">Price Negotiable<span style="color: grey;" class="text-capitalize">:   {{ product.price_negotiable }}</span></h4>


<!--             <div class="row">
              <div class="col-md-6">
                <h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
            </h5><h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
            </h5><h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
            </h5>
              </div>
              <div class="col-md-6">
                <h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
            </h5><h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
            </h5><h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
            </h5>
              </div>

            </div> -->          
            <div class="action">
              <button class="add-to-cart btn btn- cont" type="button" data-toggle='modal' data-target="#myModal">Contact the Seller</button>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
                            <div class="row">
                  <div class="col-md-12">
                   <div class="seller_info flex-grow" >
                      <div style="padding: 20px; border:5px solid #737373;">
                        <h4 class="product-title text-center p-5">Seller Information</h4>
                        <h4 class="">Name:
                         <span style="color: grey;margin-left: 25px;" class="text-capitalize">{{ product.author.first_name }} {{ product.author.last_name }}</span>
                        </h5><br>
                      <h4 class="">Email:
                       <span style="color: grey;margin-left: 25px;" class="text-capitalize">{{ product.author.email }}</span>
                      </h5><br>
                       <h4 class="">Date Joined:
                       <span style="color: grey;margin-left: 25px;" class="text-capitalize">{{ product.author.date_joined }}</span>
                      </h5><br>
                       <h4 class="">Last Login:
                       <span style="color: grey;margin-left: 25px;" class="text-capitalize">{{ product.author.last_login }}</span>
                      </h5>
              </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- seller information -->
      
        <!-- row close -->
    </div>
  </div>

	<!--//single-page-->
	<!-- form -->
		<div class="container">
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
 
        <div class="modal-body" style="padding: 10px;">
          <div class="form-style-5">
			<form action="{% url 'contact'  %}" method="POST">
				{% csrf_token %}
				{% if user.is_authenticated %}
	              <input type="hidden" name="user_id" value="{{ user.id }}">

				{% else %}
	              <input type="hidden" name="user_id" value="0">
				{% endif %}
				  <input type="hidden" name="seller_email" value="{{ product.author.email }}">
				  <input type="hidden" name="listing_slug" value="{{ product.slug }}">
          <input type="hidden" name="author" value="{{ product.author.id }}">


            <input type="hidden" name="listing_id" value="{{ product.id }}">
			<fieldset>
			<legend><span class="number">.</span>Contact to Seller</legend>
			<label>Product Title</label>
			<input type="text" name="product_title" placeholder="Product Title *" value="{{ product.title }}" required>
			<label>Name</label>
			<input type="text" name="full_name" placeholder="Full Name *" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %}>
			<label>Email</label>
			<input type="email" name="email" placeholder="Your Email *" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
			<label>Phone</label>
			<input type="number" name="phone" placeholder="Your Phone *" required>
			<span class="text-muted">You Will be Getting Call or email by Seller </span>
			
			<textarea name="message" placeholder="Message *"></textarea>
			<input type="submit" value="Send" />
			</form>
			</div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
{% endblock %}